.header {
  $self: &;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: var(--withe-color);
  position: fixed;
  width: 100%;
  z-index: 100;
  &-mainSection{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
  }
  &-titleSection, &-optionSection{
    display: flex;
    width: 53%;
    justify-content:flex-end;
  }

  &-optionSection{
    width: 47%;
    align-items: center;
  }
  &-image{
       height: 30px;
    }

}


h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

a {
  margin: 0 8px;
  text-decoration: none;
  color: #141414;
  font-weight: 700;
  font-size: 13px;
}

a:hover{
  color:rgb(166, 5, 5);
}
button + button {
  margin-left: 10px;
}
