.section{
    display: flex;
    justify-content: center;

    &-image{
        width:500px;
        height: auto;     
        &:hover{
            width: 525px;  
        }
    }
    &-title{
        text-align:center;
        font-size:50px;
        position: relative;
        bottom: 47%;
        color: white;
        margin: 0;
    }
}
