@import 'mixins/colors';
@import 'mixins/typography';
@import 'components/app';
@import 'components/button';
@import 'components/header';
@import 'components/icon';
@import 'components/nav';
@import 'components/productCard.scss';
@import 'components/productBlock.scss';
// @import 'components/page.scss';


/*@mixin border-radius($radius) {
-webkit-border-radius: $radius;
-moz-border-radius: $radius;
-ms-border-radius: $radius;
border-radius: $radius;
}

.box { @include border-radius(10px); } 

EXTENDS
*/