:root {
    --main-serif-font-family: abril-titling, serif;
    --main-sans-serif-font-family: lft-etica, sans-serif;
    --condensed-sans-serif-font-family: lft-etica-condensed, sans-serif;
    --main-base-font-size: 16px;
  }
  